.card{
    border-radius: 2vh;
    padding: 1vh;
    width: 15vw;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1F1F1F;
    user-select: none;
    transition: background-color 0.3s;
}

.card img{
    object-fit: contain;
    width: 100%;
    border-radius: 2vh;
    pointer-events: none;
}

.card:hover{
    cursor: pointer;
    background-color: #2A2A2A;
}

.title{
    font-size: min(2vh, 1vw);
    font-weight: 800;
    text-align: left;
    color: #E0E0E0;
    padding-top: 1vh;
    transition: color 0.3s;
}

.price{
    font-size: min(2vh, 1vw);
    font-weight: 800;
    margin-top: 0.5vh;
    color: #E0E0E0; 
    transition: color 0.3s;
}

.card:hover .price{
    color: #ffffff;
}

.card:hover .title{
    color: #ffffff;
}