* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'YS Text', Helvetica, Arial, sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #121212;
	display: flex;
	align-items: center;
	justify-content: center;
}
